.NavItem.selected {
  color: #fe1717;
}

.NavItem:hover > span{
  text-decoration: 1px solid underline #323232;
  border-bottom-color: #323232;
}

.NavItem.selected > span {
  border-bottom-color: #fe1717;
}

.NavItem:last-child {
  border-bottom: none;
}
